*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;

}
.inline-block{
    display: inline-block;
}
.center{
    position:relative;
    left:50%;
    transform: translateX(-50%);
}